<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link th:rel="stylesheet" type="text/css" th:href="@{/resources/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Isle Damage Calculator</title>
</head>
<body class="body">
<h1 id="title1">The Isle Damage Calculator</h1>

<!--/*@thymesVar id="fightResults" type="java.util.List"*/-->
<!--/*@thymesVar id="dino2" type="java.lang.String"*/-->
<!--/*@thymesVar id="dino1" type="java.lang.String"*/-->
<h2 id="fightresultsheader">Fight Result:</h2>
<div id="fightresults" class="fightresults">
    <h3 id="fightersheader" th:text="${fighters}"></h3>

    <h4 id="damageheader">Damage:</h4>
    <div th:each="info : ${damageResults}">
        <div id="damageinfo" th:text="${info}"></div>
    </div>
    <h4 id="bleedheader">Bleed (this is not accurate but might be useful to get an estimate):</h4>
    <div th:each="info : ${bleedResults}">
        <div id="bleedinfo" th:text="${info}"></div>
    </div>
    <h4 id="speedheader">Speed:</h4>
    <div th:each="info : ${speedResults}">
        <div id="speedinfo" th:text="${info}"></div>
    </div>
</div>
<br>
<input type="button" th:value="'Reset'" th:onclick="|window.location.href='@{/}'|"/>

<h1 id="moredetailsheader">More details:</h1>
<div>
    <div class="details1">
    <div class="details1table">
        <div th:each="info1 : ${dino1Info}">
            <div>
                <label th:text="${info1}"></label>
            </div>
        </div>
    </div>
    </div>
    <div class="details2div">
        <div class="details2table">

        <div th:each="info2 : ${dino2Info}">
            <div>
                <label th:text="${info2}"></label>
            </div>
        </div>

    </div>
    </div>
</div>
</body>
</html>