<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link th:rel="stylesheet" type="text/css" th:href="@{/resources/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Isle Damage Calculator</title>
</head>
<body class="body">
<h1>The Isle Damage Calculator</h1>

<!--/*@thymesVar id="fightResults" type="java.util.List"*/-->
<!--/*@thymesVar id="dino2" type="java.lang.String"*/-->
<!--/*@thymesVar id="dino1" type="java.lang.String"*/-->
<h2>Fight Result:</h2>
<div id="fightresults" class="fightresults">
    <div th:each="info : ${fightResults}">
        <div th:text="${info}"></div>
    </div>
</div>
<br>
<input type="button" th:value="'Reset'" th:onclick="|window.location.href='@{/}'|"/>

<h1>More details:</h1>
<div>
    <div class="details1">
    <div class="details1table">
        <div th:each="info1 : ${dino1Info}">
            <div>
                <label th:text="${info1}"></label>
            </div>
        </div>
    </div>
    </div>
    <div class="details2div">
        <div class="details2table">

        <div th:each="info2 : ${dino2Info}">
            <div>
                <label th:text="${info2}"></label>
            </div>
        </div>

    </div>
    </div>
</div>
</body>
</html>