<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link th:rel="stylesheet" type="text/css" th:href="@{/resources/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Isle Damage Calculator</title>
</head>
<body class="body">
<h1>The Isle Damage Calculator!</h1>

<!--/*@thymesVar id="fightResults" type="java.util.List"*/-->
<!--/*@thymesVar id="dino2" type="java.lang.String"*/-->
<!--/*@thymesVar id="dino1" type="java.lang.String"*/-->
<h2>Fight Result:</h2>
<table>
    <tbody>
    <tr th:each="info : ${fightResults}">
        <td th:text="${info}"></td>
    </tr>
    </tbody>
</table>
<br>
<input type="button" th:value="'Reset'" th:onclick="|window.location.href='@{/}'|"/>

<h1>More details:</h1>
<div>
    <div class="details1">
    <table class="details1table">
        <tbody>
        <tr th:each="info1 : ${dino1Info}">
            <td>
                <label th:text="${info1}"></label>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="details2div">
        <table class="details2table">
        <tbody>
        <tr th:each="info2 : ${dino2Info}">
            <td>
                <label th:text="${info2}"></label>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>