<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" type="text/css" th:href="@{/resources/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Isle Damage Calculator</title>

</head>
<body class="body">
<!--/*@thymesVar id="dinoMap" type="rottingalien.theisledmgcalc.DinosaurList"*/-->
<h1>The Isle Damage Calculator</h1>
<form th:action="@{/fight}">
<div id="dinolists" class="dinolists">
    <div id="dinolist1" class="dinolist1">
        <div>
            <h2>First Dino:</h2>
        </div>
        <div>
            <h3>Carnivores:</h3>
        </div>
        <div th:each="dino : ${carnieList}" class="carnielist1">
            <label>
                <input th:type="radio" th:name="dino1" th:value="${dino.getName()}" th:id="${dino.getName()}+'1'" th:onclick="showDino1Growths([[${dino.getGrowthStatesArray()}]])">
                [(${dino.getName()})] </label>
        </div>
        <div>
            <h3>Herbivores:</h3>
        </div>
        <div th:each="dino : ${herbieList}" class="herbielist1">
            <label>
                <input th:type="radio" th:name="dino1" th:value="${dino.getName()}" th:id="${dino.getName()}+'1'" th:onclick="showDino1Growths([[${dino.getGrowthStatesArray()}]])">
                [(${dino.getName()})] </label>
        </div>
    </div>
    <div id="dinolist2" class="dinolist2">
        <div>
            <h2>Second Dino:</h2>
        </div>
        <div>
            <h3>Carnivores:</h3>
        </div>
        <div th:each="dino : ${carnieList}" class="herbielist2">
            <label>
                <input th:type="radio" th:name="dino2" th:value="${dino.getName()}" th:id="${dino.getName()}+'2'" th:onclick="showDino2Growths([[${dino.getGrowthStatesArray()}]])">
                [(${dino.getName()})] </label>
        </div>
        <div>
            <h3>Herbivores:</h3>
        </div>
        <div th:each="dino : ${herbieList}">
            <label>
                <input th:type="radio" th:name="dino2" th:value="${dino.getName()}" th:id="${dino.getName()}+'2'" th:onclick="showDino2Growths([[${dino.getGrowthStatesArray()}]])">
                [(${dino.getName()})] </label>
        </div>
    </div>
</div>
    <div class="button">
        <br>
    <input type="submit" value="Submit">
    </div>
    <div id="growthlists" class="growthlists">
        <div id="growthlist1" class="growthlist1">
            <div>
                <h3>Growth 1</h3>
            </div>
            <div id="growthStates1" class="growthStates1">

            </div>
        </div>
        <div id="growthlist2" class="growthlist2">
            <div>
                <h3>Growth 2</h3>
            </div>
            <div id="growthStates2" class="growthStates2">

            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function showDino1Growths(dinoArray) {
            document.getElementById("growthlist1").style.display = "inline-block";
            document.getElementById("growthStates1").innerHTML = ''
            for (var i = 0; i<dinoArray.length;i++){
                document.getElementById("growthStates1").innerHTML += '<label> <input type="radio" name="dino1Growth" value="'+ dinoArray[i] + '" id="' + dinoArray[i]+1 + '"> ' + dinoArray[i] + '</label><br>'
            }
        }
        function showDino2Growths(dinoArray) {
            document.getElementById("growthlist2").style.display = "inline-block";
            document.getElementById("growthStates2").innerHTML = ''
            for (var i = 0; i<dinoArray.length;i++){
                document.getElementById("growthStates2").innerHTML += '<label> <input type="radio" name="dino2Growth" value="'+ dinoArray[i] + '" id="' + dinoArray[i]+2 + '"> ' + dinoArray[i] + '</label><br>'
            }
        }

    </script>

</form>
</body>
</html>