<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>The Isle Damage Calculator</title>
</head>
<body>
<h1>The Isle Damage Calculator!</h1>

<!--/*@thymesVar id="fightResults" type="java.util.List"*/-->
<!--/*@thymesVar id="dino2" type="java.lang.String"*/-->
<!--/*@thymesVar id="dino1" type="java.lang.String"*/-->
<h2>Fight Result:</h2>
<table>
    <tbody>
        <tr th:each="info : ${fightResults}">
            <td th:text="${info}"></td>
        </tr>
    </tbody>
</table>
<br>
<input type="button" th:value="'Reset'" th:onclick="|window.location.href='@{/}'|"/>

<h1>More details:</h1>
<table>
    <tbody>
    <tr th:each="info1 : ${dino1Info}">
        <td>
            <label th:text="${info1}"></label>
        </td>
    </tr>
    <tr>
        <td>
            <br>
        </td>
    </tr>
    <tr th:each="info2 : ${dino2Info}">
        <td>
            <label th:text="${info2}"></label>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>