<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" type = "text/css" href = "style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Isle Damage Calculator</title>

</head>
<body>
<!--/*@thymesVar id="dinoMap" type="rottingalien.theisledmgcalc.DinosaurList"*/-->
<h1>The Isle Damage Calculator</h1>
<form th:action="@{/fight}">
    <table>
        <thead>
        <tr>
            <th>First Dinossaur</th>
            <th>Second Dinossaur</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="dino : ${dinoMap.getDinoMap().values()}">
            <td>
                <label>
                    <input th:type="radio" th:name="dino1" th:value="${dino.getName()}" th:id="${dino.getName()}+'1'">
                    [(${dino.getName()})] </label>
            </td>
            <td>
                <label>
                    <input th:type="radio" th:name="dino2" th:value="${dino.getName()}" th:id="${dino.getName()}+'2'">
                    [(${dino.getName()})] </label>
            </td>
        </tr>
        <tr>
            <td>
                <input class="btn btn-primary" type="submit" value="Submit">
            </td>
        </tr>
        <tr>
            <th> Growth 1 </th>
            <th> Growth 2 </th>
        </tr>
        <tr th:each="growth : ${dinoMap.getDinoMap().get('Triceratops').getGrowthStates().values()}">
            <td>
                <label class>
                    <input th:autocomplete="off" th:type="radio" th:name="dino1Growth" th:value="${growth.getName()}" th:id="${growth.getName()}+'1'">
                    [(${growth.getName()})] </label>
            </td>
            <td>
                <label>
                    <input th:type="radio" th:name="dino2Growth" th:value="${growth.getName()}" th:id="${growth.getName()}+'2'">
                    [(${growth.getName()})] </label>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>